---
layout: default
title: Articles
---
<!-- Posts Index
================================================== -->
<!--
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}
-->


<section class="recent-posts row">



      <div class="col-sm-12">

          <div class="section-title">
              <h2><span>All Articles </span></h2>
          </div>

          <div class="masonrygrid row listrecent">

                {% for post in site.posts %}

                     

                          {% include postbox.html %}


                      {% endfor %}

  </div>

        <!-- Pagination
        <div class="bottompagination">

            <span class="navigation" role="navigation">

                {% include pagination.html %}

            </span>

        </div> -->

    </div>

</section>
