---
layout: default
title: Home
---

<!-- Featured
================================================== -->
<section class="featured-posts">

    <div class="section-title">
        <h2><span>Featured Articles</span></h2>
    </div>

    <div class="row listfeaturedtag">

    {% for post in site.posts %}

        {% if post.featured == true %}

          {% if post.project == false %}

            {% include featuredbox.html %}

        {% endif %}

        {% endif %}

    {% endfor %}

    </div>

</section>

<!-- Posts Index
================================================== -->
<section class="recent-posts row">

    <div class="col-lg-12">

        <div class="section-title">
            <h2><span>Featured Projects</span></h2>
        </div>

        <div class="masonrygrid row listrecent">

          {% for post in site.posts %}

              {% if post.featured == true %}

                {% if post.project == true %}

                    {% include postbox.html %}

                          {% endif %}

                        {% endif %}

                {% endfor %}

        </div>



    </div>

</section>
